$background-ligth-transparent: rgba(244, 244, 244, 0.95);
$background-window: rgba(244, 244, 244, 1);
$background-light: rgb(250, 250, 250);
$dimm-text:rgb(104, 125, 143);
$primary-contrast: rgb(255, 255, 255);
$primary-color-dark: rgb(0, 179, 252);
$primary-color-light: rgb(0, 202, 252);
$warning-color-dark: rgb(254, 193, 113);
$warning-color-light: rgb(253, 197, 126);
$info-color-dark: rgb(168, 150, 246);
$info-color-light: rgb(199, 188, 247);
$radius: 1.25rem;
$button-close-color: rgb(252, 85, 84);
$button-minimize-color: rgb(253, 187, 44);
$button-maximize-color: rgb(32, 205, 48);